

.me-auto {
  margin-right: 133px !important;
}

.manageLog{
  position: absolute;
  right: 39px;
}
.manageLog button {
  margin-left: 9px;
}

.navbar-brand{
  padding: 1.2vh 8vh;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Concert One', cursive;
  width:20%;
  color: white;
}
.searchbox {
  width: 400px;
}

.btn {
  color: white;
}

.students {

  padding: 1.2vh 8vh;
  font-size: 20px;
  font-weight: bold;
  width:20%;
  color: black;
}
