<!DOCTYPE html>
<html lang="en" xmlns:https="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
  <title>Signup</title>
</head>
<body>
<section>
  <form>
    <div class="inputbox">
      <label>Name</label>
      <input type="text" name="name" required>
    </div>
    <div class="inputbox">
      <label>Email</label>
      <input type="email" name="email" required>
    </div>
    <div class="inputbox">
      <label>Password</label>
      <input type="password" name="password" required>
    </div>
    <button class="btn btn-primary signup btn-group-lg" type="submit" >Register</button>
  </form>
</section>
</body>
</html>
