<section>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Full Name</th>
    <th scope="col">Gender</th>
    <th scope="col">Age</th>
    <th scope="col">Phone Number</th>
    <th scope="col">Address</th>
    <th scope="col">Options</th>

  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>Mark</td>
    <td>Male</td>
    <td>22</td>
    <td>010000255748</td>
    <td>Cairo,eg</td>
    <td>
      <button class="btn btn-success">update</button>
      <button class="btn btn-danger">delete</button>
    </td>
  </tr>
  </tbody>
</table>
</section>

<section>
  <button class="btn btn-success btn-lg new-student">Add a new student</button>

</section>
